<h1><%= @question.title %></h1>
<p><%= @question.body %></p>


<%= form_for @response do |r| %>
  <%= r.label :answer %>
  <%= r.text_field :answer %>
  <%= r.hidden_field :user_id, value: current_user.id %>
  </br>
  <%= r.hidden_field :question_id, value: @question.id %>
  <%= r.submit "Submit" %>
<% end %>

<ul id="questionResponses">
  <% @question.responses.each do |response| %>
    <li><%= response.answer %></li>
  <% end %>
</ul>
